.ticker {
	position: relative;
	overflow: hidden;
	border-top: 1px solid var(--dark-color);
	border-bottom: 1px solid var(--dark-color);
	background-color: #0e2753;
	padding-block: 10px;
}

.ticker__wrapper {
	display: flex;
}

.ticker__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-shrink: 0;
	white-space: nowrap;
	animation: ticker 30s linear infinite;
}

.ticker__item span {
	font-family: var(--sunmar-font);
	font-size: 1.25rem;
	color: var(--white);
	line-height: 1.5;
}

.ticker:hover .ticker__item {
	animation-play-state: paused;
}

.ticker__icon {
	margin-inline: 1rem;
	display: flex;
	align-items: center;
}

.ticker-link {
	padding-block: .2rem;
}

.ticker__icon svg {
	fill: white;
}

@keyframes ticker {
	from {
		transform: translateZ(0);
	}

	to {
		transform: translate3d(-100%, 0, 0);
	}
}

